@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow+Condensed:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}

.navbar
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #151515;
    background-color:rgba(21, 21, 21, 0.9);
}

#logo-konas
{
    width: 8rem;
}

.jumbotron
{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    /* background-image: url("../../assets/img/bg.png");
    background-repeat: no-repeat;
    background-size: cover; */
}

#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: left;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

/* carousel */
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #d73d3d;
  }

.contains-bg
{
    background-color: black;
}

.headline
{
    color: #404040;
    font-family: 'Montserrat', sans-serif;
}

.headline h3
{
    font-size: 20px;
    font-weight: bold;
}


.card 
{
 font-family: 'Montserrat', sans-serif;   
}


.headline-price
{
    color: #404040;
    font-family: 'Montserrat', sans-serif;
}

.headline p 
{
    font-size: 18px;
}

.headline-price h3
{
    font-size: 20px;
    font-weight: bold;
}

.headline-price p 
{
    font-size: 18px;
}

.kotak
{
    width: 22rem;
    height: 22rem;
    background-color: grey;
}

.price-card
{
    border-radius: 20px;
}

.price-card h1
{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 1000;
    color: #e54c4c;
}

.gold
{
    background: rgb(240,230,140);
    background: linear-gradient(90deg, rgba(240,230,140,1) 0%, rgba(218,165,32,1) 49%, rgba(205,133,63,1) 100%);
}

.gold-btn
{
    background: rgb(240,230,140);
    background: linear-gradient(90deg, rgba(240,230,140,1) 0%, rgba(218,165,32,1) 49%, rgba(205,133,63,1) 100%);
}

.text-bg h2
{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 100px;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.text-bg p
{
    font-size: 20px;
    color: white;
}

.harga-jt
{
    font-size: 20px;
    font-weight: bold;
}

.uang-tambahan
{
    color: #404040;
    font-family: 'Montserrat', sans-serif;
}

.uang-tambahan h1
{
    font-size: 28px;
    font-weight: 700;
}

.hubungi-kami
{
    color: #404040;
    font-family: 'Montserrat', sans-serif;
}

.hubungi-kami h1
{
    font-size: 28px;
    font-weight: 700;
}

.button-mau
{
    background-color: #d73d3d;
    color: white;
}

.footer 
{
    width: 100%;
    height: 100%;
    background-color: rgb(16, 16, 16);
    
}

.footer .footer-headline
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.footer .footer-text
{
    color: white;
    font-family: 'Inter', sans-serif;
}

.list-text ul li
{
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    color: white;
}

.footer-text .icon
{
    color: white;
}

.sosmed ul li a
{
    color: white;
}

.sosmed ul li
{
    list-style-type: none;
    display: inline;
}

@media screen and (max-width: 480px) {
    .jumbotron
    {
        font-family: 'Montserrat', sans-serif;
        height: 100vh;
        background-image: url("../../assets/img/bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
  }