@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow+Condensed:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}

.navbar
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#logo-konas
{
    width: 8rem;
}

.jumbotron
{
    height: 100vh;
    background-image: url("https://www.fourstops.sg/wp-content/uploads/2019/08/Fourstops_Corporate_Photobooth-37-1000x667.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* carousel */
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #d73d3d;
  }

.contains-bg
{
    background-color: black;
}

.headline
{
    color: #404040;
    font-family: 'Montserrat', sans-serif;
}

.headline h3
{
    font-size: 20px;
    font-weight: bold;
}


.card 
{
 font-family: 'Montserrat', sans-serif;   
}


.headline-price
{
    color: #404040;
    font-family: 'Montserrat', sans-serif;
}

.headline p 
{
    font-size: 18px;
}

.headline-price h3
{
    font-size: 20px;
    font-weight: bold;
}

.headline-price p 
{
    font-size: 18px;
}

.kotak
{
    width: 22rem;
    height: 22rem;
    background-color: grey;
}

.price-card
{
    border-radius: 20px;
}

.price-card h1
{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 1000;
    color: #e54c4c;
}

.gold
{
    background: rgb(240,230,140);
    background: linear-gradient(90deg, rgba(240,230,140,1) 0%, rgba(218,165,32,1) 49%, rgba(205,133,63,1) 100%);
}

.gold-btn
{
    background: rgb(240,230,140);
    background: linear-gradient(90deg, rgba(240,230,140,1) 0%, rgba(218,165,32,1) 49%, rgba(205,133,63,1) 100%);
}

.text-bg h2
{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 100px;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.text-bg p
{
    font-size: 20px;
    color: white;
}

.harga-jt
{
    font-size: 20px;
    font-weight: bold;
}

.footer 
{
    width: 100%;
    height: 100%;
    background-color: rgb(16, 16, 16);
    
}

.footer .footer-headline
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.footer .footer-text
{
    color: white;
    font-family: 'Inter', sans-serif;
}

.list-text ul li
{
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    color: white;
}

.footer-text .icon
{
    color: white;
}

.sosmed ul li a
{
    color: white;
}

.sosmed ul li
{
    list-style-type: none;
    display: inline;
}