@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

.navbar
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#logo-konas
{
    width: 8rem;
}

.jumbotron
{
    height: 100vh;
    background-image: url("https://www.fourstops.sg/wp-content/uploads/2019/08/Fourstops_Corporate_Photobooth-37-1000x667.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.kotak
{
    width: 22rem;
    height: 22rem;
    background-color: grey;
}

.footer 
{
    width: 100%;
    height: 100%;
    background-color: rgb(16, 16, 16);
    
}

.footer .footer-headline
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.footer .footer-text
{
    color: white;
    font-family: 'Inter', sans-serif;
}

.list-text ul li
{
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    color: white;
}

.footer-text .icon
{
    color: white;
}

.sosmed ul li a
{
    color: white;
}

.sosmed ul li
{
    list-style-type: none;
    display: inline;
}